
body{
	background: url(anime.jpg);
font-family: 'Montserrat', sans-serif;
}
h1{
	background-color:lightpink;
}
p{
	width: 50%;
	background-color:#FFBE73;
	border-radius:10px;
	padding:10px 20px 10px 20px; 
}
.foto{
	border:8px solid orange;
	border-radius:10px;
}
.need{
	width:400px;
}
.kartochka{
	padding:10px;
	background-color:#FF9473;
	width:510px;
	border:8px solid #FF6E40;
	border-radius:10px;
}